form {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
}

.input-wrapper {
  position: relative; // helps position the error-icon later
  display: flex;
}

input {
  width: 100%;
  padding-right: 2.5rem;
  /*this padding right is used to create space for the error-icon*/
  padding-left: 0.5rem;
  height: 2.5rem;
  border: 0.06rem solid var(--start-color);
  border-radius: 0.25rem;
  outline: none; // remove input outline
}

input:focus {
  border-color: var(--blue-color);
}

.error {
  border-color: var(--red-color-400);
}

.error-icon {
  display: none;
  position: absolute; // this property works within the input-wrapper space because that div is position relative.
  right: 0.5rem;
  /*this is 0.5rem from the right of the div.
  the space is created from the 2.5rem padding-right in input*/
  top: 50%;
  transform: translateY(-50%);
  width: 1.13rem;
  height: 1.13rem;
  pointer-events: none;
}

.text {
  font-size: 0.6rem;
  color: var(--red-color-400);
  text-align: right;
}
