main {
  display: flex;
  width: min(90%, 50rem);
  margin: auto 0;
  justify-content: space-between;
}

.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  flex: 1 1 45%;

  h1 {
    color: var(--white-color);
  }

  p {
    color: var(--white-color);
    font-size: 0.7rem;
    width: 22rem;
  }
}

.main2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex: 1 1 55%;

  .top-ad {
    background-color: var(--purple-color-700);
    color: var(--white-color);
    font-size: 0.7rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }

  button {
    background-color: var(--green-color-400);
    color: var(--white-color);
    border: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
  }
}

.terms {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;

  .terms1 {
    color: var(--purple-color-350);
    margin-right: 0.3rem;
  }

  .terms2 {
    color: var(--red-color-400);
    margin-left: 0.3rem;
  }
}
