@media (min-width: 48rem) {
  .wrapper {
    display: flex;
    background-image: url(../images/bg-intro-desktop.png);
    background-size: cover;
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: row;
    min-width: 50rem;
  }
  .main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    flex: 1 1 45%;

    h1 {
      text-align: left;
    }

    p {
      text-align: left;
      font-size: 0.7rem;
    }
  }

  .main2 {
    flex: 1 1 55%;
  }

  .terms {
    flex-direction: row;
    justify-content: center;
  }
}
