:root {
  --red-color-400: hsl(0, 100%, 74%);
  --green-color-400: hsl(154, 59%, 51%);
  --purple-color-700: hsl(248, 32%, 49%);
  --gray-color-900: hsl(249, 10%, 26%);
  --purple-color-350: hsl(246, 25%, 77%);
  --white-color: hsl(0, 0%, 100%);
  --blue-color: hsl(235, 86%, 35%);
  --start-color: hsl(0, 0%, 80%);
}
